<%= form_with(model: [@user, @benefit], local: true) do |form| %>
  <%= form.hidden_field :user_id, id: :benefit_user_id, value: @user.id %>

  <div class='form-group'>
    <%= form.label t(:title, scope: %i[benefit attributes]) %>
    <%= form.text_field :title, class: 'form-control', autofocus: true, id: :benefit_title %>
  </div>

  <div class='form-group''>
    <%= form.label t(:description, scope: %i[benefit attributes]) %>
    <%= form.text_area :description, class: 'form-control', id: :benefit_description %>
  </div>
  
  <%= form.submit t(:submit), class: 'btn btn-primary' %>
<% end %>
