<p id="notice"><%= notice %></p>

<%= link_to '<button type="button" class="btn btn-secondary btn-sm">< Volver a mis beneficios</button>'.html_safe, user_benefits_path %>
<br>
<br>
<div class="card text-center" style="width: 600px; margin:auto;">
  <div class="card-header">
    Beneficio
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @benefit.title %></h5>
    <p class="card-text"><%= @benefit.description %></p>
    <%= link_to t(:edit), edit_user_benefit_path(@benefit, @user), class:"btn btn-primary" %>
    <%= link_to t(:destroy), user_benefit_path(@user.id, @benefit.id), class:"btn btn-danger", method: :delete, data: { confirm: 'Estas seguro?' } %>
  </div>
  <div class="card-footer text-muted">
    Entregado por <%= @benefit.user %>
  </div>
</div>
<br>
