<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= f.hidden_field :user_type, value: 'Donor'%>

<div class="row">
  <div class="col">
    <h3>Datos de sesión</h3>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
      <% end %>
      <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
    </div>
  </div>
  <div class="col">
    <h3>Información pública</h3>
    <div class="form-group">
      <%= f.label :avatar %>
      <div style='height: 200px'>
        <%=image_tag 'missing.jpg', class: 'mh-100', id: 'd-avatar-preview'%>
      </div>
      <div class='custom-file'>
        <%= f.label :avatar, t('.file_text'), class: 'custom-file-label' %>
        <%= f.file_field :avatar, class: 'custom-file-input', onchange: "readURL(this, 'd-avatar-preview')" %>
      </div>
    </div>
    <div class='form-group'>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control'%>
    </div>
  </div>
</div>

<%= f.submit t('.sign_up'), class: 'btn btn-primary' %>
<% end %>
