<%= devise_error_messages! %>

<div class="container w-50">
  <h4><%= t('.sign_up_options') %></h4>

  <div id='userTypeSelector' class='list-group list-group-horizontal mb-4'>
    <button name="Donor" class="list-group-item list-group-item-action">Donador</button>
    <button name="SocialCompany" class="list-group-item list-group-item-action">Emprensa social</button>
    <button name="Company" class="list-group-item list-group-item-action">Compañía</button>
  </div>


  <div id="forms">
    <div id="DonorForm" style='display: none'>
      <%= render 'donor/new' %>
    </div>
    <div id="CompanyForm" style='display: none'>
      <%= render 'company/new' %>
    </div>
    <div id="SocialCompanyForm" style='display: none'>
      <%= render 'socialcompany/new' %>
    </div>
  </div>

  <%= render "devise/shared/links" %>  
</div>


<script>
  $(document).ready(function(){
    $("#userTypeSelector button").click(function() {
        $(this).parent().children().removeClass('active');
        $(this).addClass("active");
        var formType = $(this).attr('name') + 'Form'
        $('#forms').children().hide()
        $(`#${formType}`).show()
    });
  })
</script>
