<h2>Donaciones realizadas</h2>
<hr>
<% if @donations.any? %>
    <h4 class="text-right">
      Total:
      <span class="font-weight-bold"><%= currency_to_cl(current_user.total_donations) %></span>
    </h4>

  <div class="list-group-item border bg-dark text-light font-weight-bold">
    <div class="row">
      <div class="col-2 m-auto text-center">
        <%= t(:date)%>
      </div>
      <div class="col-8 m-auto text-center">
        <%= t(:one, scope: %i[project name]) %>
      </div>
      <div class="col m-auto text-center">
        <%= t(:amount) %>
      </div>
    </div>
  </div>
  <% @donations.each do |donation| %>
    <div class="list-group-item border">
      <div class="row">
        <div class="col-2 m-auto text-center">
          <%= get_date(donation.created_at) %>
        </div>
        <div class="col-8 m-auto text-center">
          <% if donation.project.present? %>
            <%= link_to donation.project.name, project_path(donation.project) %>
          <% else %>
            Projecto social eliminado
          <% end %>
        </div>
        <div class="col m-auto text-center">
          <%= currency_to_cl(donation.amount) %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
<div class="alert alert-info">
  <h5 class="alert-heading">
    Aún no haz realizado donaciones
  </h5>
  <hr>
  <div class="">
    Una vez que realices donaciones, podrás verlos aquí y comenzarás a ganar reconocimiento
  </div>
</div>
<% end %>
