<div class="row">
  <div class="col-10">
    <h2>Información Personal</h2>
  </div>
  <div class="col text-center">
    <%= link_to 'Editar', root_path, class: 'btn btn-outline-info' %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-3">
    <div class="list-group-item border bg-dark text-light font-weight-bold">
      <div class="row m-auto text-center">
        Nombre
      </div>
    </div>
    <div class="list-group-item border bg-dark text-light font-weight-bold">
      <div class="row m-auto text-center">
        Email
      </div>
    </div>
    <div class="list-group-item border bg-dark text-light font-weight-bold">
      <div class="row m-auto text-center">
        Rut
      </div>
    </div>
    <div class="list-group-item border bg-dark text-light font-weight-bold">
      <div class="row m-auto text-center">
        Dirección
      </div>
    </div>
    <div class="list-group-item border bg-dark text-light font-weight-bold">
      <div class="row m-auto text-center">
        Descripción
      </div>
    </div>
  </div>

  <div class="col">
    <div class="list-group-item border bg-light text-dark font-weight-bold">
      <div class="row m-auto text-center">
        <%= current_user.name%>
      </div>
    </div>
    <div class="list-group-item border bg-light text-dark font-weight-bold">
      <div class="row m-auto text-center">
        <%= current_user.email%>
      </div>
    </div>
    <div class="list-group-item border bg-light text-dark font-weight-bold">
      <div class="row m-auto text-center">
        <%= current_user.rut%>
      </div>
    </div>
    <div class="list-group-item border bg-light text-dark font-weight-bold">
      <div class="row m-auto text-center">
        <%= current_user.address%>
      </div>
    </div>
    <div class="list-group-item border bg-light text-dark font-weight-bold">
      <div class="row m-auto text-center">
        <%= current_user.description%>
      </div>
    </div>
  </div>
</div>
