<br>
<%= @contracts%>
<br>
<div class="card text-center" style="width: 70%; margin: auto; border: 0px;">
  <h3 class="card-header" style="color: #406da1;">Podría interesarte</h3>
  <div class="card-body">
    <h5 class="card-title"><%= @random_project.name%></h5>
    <p class="card-text"><%= @random_project.description%></p>
    <p class="card-text text-success"><b>Dinero recaudado: $<%= @random_project.total_donations%></b></p>
    <%=link_to '<button class="btn btn-outline-secondary">Ver más</button>'.html_safe, @random_project %>
  </div>
</div>
<br>
<br>


<h1>Noticias</h1>

<div class="row">
  <div class="col">
    <div class="row">
      <div class="card text-white bg-success mb-3" style="max-width: 95%; min-width: 95%; min-height: 100%">
        <div class="card-header">Proyecto con mayor recaudación</div>
        <div class="card-body">
          <h5 class="card-title"> <%= @most_donated.name%> </h5>
          <p class="card-text float-right"> $<%= @most_donated.total_donations %> </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card text-white bg-secondary mb-3" style="max-width: 95%; min-width: 95%; min-height: 100%">
        <div class="card-header">Proyecto más patrocinado</div>
        <div class="card-body">
          <h5 class="card-title"> <%= @most_sponsored.name %> </h5>
          <p class="card-text float-right"> $<%= @most_sponsored.total_donations %> </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <div class="card text-white bg-dark mb-3" style="max-width: 95%; min-width: 95%; min-height: 100%">
        <div class="card-header">Proyecto reciente</div>
        <div class="card-body">
          <h5 class="card-title"> <%= @recent_projects[0].name %> </h5>
          <p class="card-text float-right"> $<%= @recent_projects[0].total_donations %> </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card text-white bg-info mb-3" style="max-width: 95%; min-width: 95%; min-height: 100%">
        <div class="card-header">Proyecto reciente</div>
        <div class="card-body">
          <h5 class="card-title"> <%= @recent_projects[1].name %> </h5>
          <p class="card-text float-right"> $<%= @recent_projects[1].total_donations %> </p>
        </div>
      </div>
    </div>
  </div>
</div>
