<p id="notice"><%= notice %></p>

<h1>Proyectos Sociales</h1>

<div class="row">
  <div class="col-8 list-group">
    <% @projects.each do |project| %>
      <div class="row list-group-item active mb-3">
        <div class="container">
          <div class="col">
            <div class="row">
              <%= project.name %>
            </div>
            <div class="row">
              <%= project.description %>
            </div>
            <div class="row">
              <%= project.amount %>
            </div>
            <div class="row">
              <% = project.user %>
            </div>
              <%= link_to 'Show', project %>
              <%= link_to 'Edit', edit_project_path(project) %>
              <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-4 list-group">

  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Amount</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

</table>

<br>

<%= link_to 'New Project', new_project_path %>
