<h2><%= t(:title, scope: %i[project index]) %></h2>
<hr>
<% @projects.each do |project| %>
  <div class="row py-2">
    <div class="col-10 card">
      <a href=<%= project_path(project) %> class="stretched-link"></a>
      <div class="row card-body">
        <div class="col-7 m-auto">
          <div class="row">
            <h5 class="card-title"><%= project %></h5>
          </div>
          <div class="row">
            <p class="card-text">$<%= project.total_donations %></p>
          </div>
        </div>
        <div class="col-5">
          <p class="card-text"><%= t(:many, scope: %i[benefit name])%></p>
          <% project.benefits.each do |c|%>
            <%= fa_icon 'check', class: 'pull-left'%>
            <p class="card-text"><%= c.title %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="list-group">
        <% if can? :create, Contract %>
          <%= link_to t(:sponsor), new_contract_path(project), class: 'list-group-item list-group-item-action list-group-item-warning' %>
        <% end %>
        <% unless social_company? %>
          <%= link_to t(:donate), donate_path(project.id), method: :post, class: 'list-group-item list-group-item-action list-group-item-success' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
