<div class="row">
  <div class="col-10 m-auto">
    <h1><%= t(:title, scope: %i[project index]) %></h1>
  </div>
  <div class="col-2 m-auto">
    <%= link_to t(:new, scope: %i[project index]), new_project_path, class: 'btn btn-primary' %>
  </div>
</div>

<% @projects.each do |project| %>
<div class="row p-3">
  <div class="col-8 pr-0">
    <div class="list-group-item">
      <div class="row">
        <div class="col-2 m-auto">
          <h5><%= project.name %></h5>
        </div>
        <div class="col-3">
          <div class="row m-auto">
            <%= project.user.name %>
          </div>
          <div class="row m-auto">
            <p>$<%= @amounts[project.id] %></p>
          </div>
        </div>
        <div class="col-3 m-auto">
          <p><%= t(:benefits)%></p>
        </div>
        <div class="col-1 m-auto">
          <%= link_to t(:show), project %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4 pl-0" style="max-width: 150px">
    <%= link_to t(:donate), project_donate_path(project), class: 'btn btn-outline-success h-100 w-100' %>
  </div>
</div>
<% end %>
