<h1><%= t(:title, scope: %i[project show], project: @project.name)%></h1>
<div>
  <%= t(:owner, scope: %i[project show], social_company: @project.user)%>
</div>
<div>
  <%= t(:amount_donated, amount: @amount) %>
</div>
<div>
  <%= @project.description %>
</div>

<%= link_to t(:back), projects_path, class: 'btn btn-secondary' %>
<% if isCompany? %>
<%= link_to t(:sponsor), new_contract_path(@project), class: 'btn btn-outline-warning' %>
<% end %>
<% unless isSocialCompany?%>
  <%= link_to t(:donate), donate_path(@project), method: :post, class: 'btn btn-outline-success' %>
<% end %>
