<h2>
  <%= t(:title, scope: %i[project show], project: @project.name)%>
  <%= link_to t(:back), projects_path, class: 'btn btn-secondary btn-sm' %>
</h2>
<hr>
<div class="d-flex justify-content-around">
  <div class="text-center">
    <p class="text-muted p-0 m-0"><%= t(:creation_date) %></p>
    <h4 class="font-weight-bold text-info"><%= get_date(@project.created_at) %></h4>
  </div>
  <div class="text-center">
    <p class="text-muted p-0 m-0"><%= t(:amount_collected) %></p>
    <h2 class="font-weight-bold text-primary"><%= currency_to_cl(@project.total_donations) %></h2>
  </div>
  <div class="text-center">
    <p class="text-muted p-0 m-0"><%= t(:estimated_end_date, scope: %i[project attributes]) %></p>
    <h4 class="font-weight-bold text-info"><%= get_date(@project.estimated_end_date) %></h4>
  </div>
</div>
<hr>
<div class="row mt-3">
  <div class="col">
    <h4>Acerca del proyecto</h4>
    <%= @project.description %>
  </div>
  <div class="col-5">
    <div class="py-2">
      <% if can? :create, Contract %>
      <%= link_to t(:sponsor), new_contract_path(@project), class: 'btn btn-lg btn-warning btn-block font-weight-bold' %>
      <% end %>
      <% unless social_company?%>
        <%= link_to t(:donate), donate_path(@project), method: :post, class: 'btn btn-lg btn-success btn-block font-weight-bold' %>
      <% end %>
    </div>
    <div class="card">
      <div class="card-header">
        <%= t(:many, scope: %i[benefit name]) %>
      </div>
      <% if @project.benefits.any? %>
        <table class="table table-hover">
          <tbody>
            <% @project.benefits.each do |b|%>
            <tr class="link" data-link="<%= company_path(b.company) %>">
              <td><%= fa_icon 'check'%></td>
              <td><%= b %></td>
              <td style="width: 30%">(<%= b.company %>)</td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="card-body">
          <p>
            Esta empresa no ofrece ningún beneficio
            <%= fa_icon  'frown-o' %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<hr>
<div class="text-right text-muted">
  <%= link_to t(:owner, scope: %i[project show], social_company: @project.user), social_company_path(@project.user)%>
</div>


<script>
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>
