<h3>Mis Donaciones</h3>
<div class="row my-2">
  <div class="col-2 border text-light bg-dark text-center">
    Monto Total
  </div>
  <div class="col-2 border text-center">
    $<%=@total_amount%>
  </div>
</div>
<div class="row border my-2 bg-dark">
  <div class="col-2 text-light text-center">
    Fecha
  </div>
  <div class="col-8 text-light text-center">
    Proyecto
  </div>
  <div class="col text-light text-center">
    Monto
  </div>
</div>
<% @donations.each do |donation| %>
  <div class="row border my-2">
    <div class="col-2 text-center">
      <p class="card-text"><%= donation.created_at.day %>-<%= donation.created_at.month %>-<%= donation.created_at.year %></p>
    </div>
    <div class="col-8 text-center">
      <a href=<%= project_path(donation.project) %> class="stretched-link"></a>
      <p class="card-text"><%= donation.project.name %></p>
    </div>
    <div class="col text-center">
      <p class="card-text">$<%= donation.amount %></p>
    </div>
  </div>
<% end %>
