<nav class='navbar sticky-top navbar-light bg-light p-2' style="border-bottom: 1px solid #C4C4C4; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);">
  <a class="navbar-brand" href="/">
    <%= image_tag 'Donatio.png', height: '35' %>
  </a>
  <a class="btn shadow-none" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" id="search-toggler">
    Buscar
  </a>
  <%= form_tag(:projects, method: "get", class: 'form-inline mr-auto') do %>
    <div class="input-group collapse" id="collapseExample">
      <%= text_field_tag(:search_text, "", class:"form-control shadow-none", type: "search", style: "border: 0px; border-bottom: 1px solid #007bff;", placeholder:"Buscar proyectos sociales", id: "search-input-to-toggle", autofocus: true)%>
      <!--<div class="input-group-append">
        <%= submit_tag("Buscar", class:"btn") %>
      </div>-->
    </div>
  <% end %>

  <%=link_to(t(:many, scope: %i[project name]), :projects, class: 'btn btn-light') %>
  <% if current_user %>
  <%=link_to("Mi Perfil (#{current_user.user_type})", :profile, class: 'btn btn-light') %>
  <%=link_to(t(:sign_out), :destroy_user_session, method: :delete, class: 'btn btn-light') %>
  <% else %>
  <%=link_to(t(:sign_in), :new_user_session, class: 'btn btn-light') %>
  <%=link_to(t(:sign_up), :new_user_registration, class: 'btn btn-light') %>
  <% end %>

</nav>
