<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
			<div class="sidenav">
				<% if isDonor? %>
					<%=link_to "Resumen", my_profile_path %>
					<%=link_to "Mis Donaciones", my_donations_path %>
					<%=link_to "Mis Beneficios", my_benefits_path %>
					<%=link_to "Datos", my_data_path %>
				<% elsif isSocialCompany? %>
					<%=link_to "Resumen", my_profile_path %>
					<%=link_to "Mis Proyectos", my_social_projects_path %>
					<%=link_to "Buscar patrocinadores", find_sponsor_path %>
					<%=link_to "Datos", my_data_path %>
				<% elsif isCompany? %>
					<%=link_to "Resumen", my_profile_path %>
					<%=link_to "Proyectos patrocinados", my_sponsored_projects_path %>
					<%=link_to "Beneficios ofrecidos", my_offered_benefits_path %>
					<%=link_to "Datos", my_data_path %>
				<% end %>
			</div>
    <div class="col-md-9">
  		<%= yield%>
    </div>
  </div>
</div>
