<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
			<div class="sidenav">
        <%=link_to "Resumen", my_profile_path %>
				<% if isDonor? %>
					<%=link_to "Mis Donaciones", my_donations_path %>
					<%=link_to "Mis Beneficios", my_benefits_path %>
				<% elsif isSocialCompany? %>
					<%=link_to "Mis Proyectos", my_social_projects_path %>
				<% elsif isCompany? %>
          <%=link_to "Beneficios ofrecidos", user_benefits_path(current_user.id) %>
          <%=link_to "Proyectos patrocinados", my_sponsored_projects_path %>
					<%=link_to "Solicitudes de patrocinio", my_requirements_path %>
				<% end %>
        <%=link_to "Datos", my_data_path %>
			</div>
    <div class="col-md-9">
  		<%= yield%>
    </div>
  </div>
</div>
