<div class="row w-100">
  <div class="col-3">
    <ul class="sidenav nav flex-column bg-dark navbar-dark">
      <li class="nav-item mx-auto">
        <%=link_to "Dashboard", :profile, class: 'nav-link text-white font-weight-bold' %>
      </li>
			<% if can? :create, Donation %>
        <li class="nav-item mx-auto">
          <%=link_to "Donaciones realizadas", :donations, class: 'nav-link text-white font-weight-bold' %>
        </li>
      <% end %>
      <% if donor? %>
        <li class="nav-item mx-auto">
          <%=link_to "Beneficios obtenidos", :earned_benefits, class: 'nav-link text-white font-weight-bold' %>
        </li>
      <% end %>
			<% if can? :manage, Project %>
        <li class="nav-item mx-auto">
          <%=link_to "Mis Proyectos", :social_projects, class: 'nav-link text-white font-weight-bold' %>
        </li>
      <% end %>
      <% if can? :manage, Benefit %>
        <li class="nav-item mx-auto">
          <%=link_to "Beneficios ofrecidos", :offered_benefits, class: 'nav-link text-white font-weight-bold' %>
        </li>
      <% end %>
      <% if company? %>
        <li class="nav-item mx-auto">
          <%=link_to "Proyectos patrocinados", :contracts, class: 'nav-link text-white font-weight-bold' %>
        </li>
      <% end %>
      <% if can? :read, Requirement %>
        <li class="nav-item mx-auto">
          <%=link_to "Solicitudes de patrocinio", :requirements, class: 'nav-link text-white font-weight-bold' %>
        </li>
			<% end %>
      <li class="nav-item mx-auto">
        <%=link_to "Información Personal", :personal_info, class: 'nav-link text-white font-weight-bold' %>
      </li>
    </ul>
  </div>
  <div class="col">
    <%= render 'layouts/alerts' %>
    <div class="container px-5 py-4">
      <%= yield%>
    </div>
  </div>
</div>
