<div class="container p-3">
<h5 class="text-center" style="color: #406da1;">Top donantes</h5>
  <div class="card-group">
    <% @sorted_companies.each do |c| %>
    <div class="card" style="border: 0px;">
      <div class="card-body p-1">
        <div class="row" style="height: 60px">
          <div class="col-auto m-auto">
            <%=image_tag c.avatar, style: 'max-width: 45px; max-height: 45px;'%>
          </div>
          <div class="col m-auto text-left">
            <a style="font-weight: 700; color: #406da1;"><%= c %></a><br>
            $ <%= c.total_donations %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div style="border-top: 1px solid #C4C4C4; margin: auto; margin-top: 1px; width: 95%;"></div>
</div>
<div class="container">
<%= render 'layouts/alerts' %>
<%= yield %>
</div>

<!--
<div class="row w-100">
  <div class="col-9">
    <%= render 'layouts/alerts' %>
    <div class="container px-5 py-4">
      <%= yield %>
    </div>
  </div>
  <div class="col-3 border-left">
    <div class="sidenav">
        <h4 class="text-center">Donadores destacados</h4>
        <ul class="list-group">
          <% @sorted_companies.each do |c| %>
          <li class="list-group-item">
            <div class="row" style="height: 60px">
              <div class="col-3 m-auto">
                <%=image_tag c.avatar, class: 'mh-100 mw-100'%>
              </div>
              <div class="col-4 m-auto text-center">
                <%= c %>
              </div>
              <div class="col m-auto text-center">
                $ <%= c.total_donations %>
              </div>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
-->