<!DOCTYPE html>
<html>
  <head>
    <title><%= t(:page_name)%></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% if @render_ranking_bar %>
      <%= render 'layouts/ranking' %>
    <% elsif @render_profile_bar %>
      <%= render 'layouts/profile_bar' %>
    <% else %>
      <%= render 'layouts/alerts' %>
      <%= yield %>
    <% end %>
    <%= render 'layouts/footer' %>
  </body>
</html>
